body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #050708
    
   
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(88, 88, 88); /* Set a background color */
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(255, 255, 255); /* Add a dark-grey background on hover */ 
  }
  * {
    box-sizing: border-box;
  }
  
  .header {
    background-image: url("/Personal-Project/Picture/MoohReview.png");
    background-repeat: no-repeat;
    height: 300px; 
    width: 1500px auto;
    background-position: center;
    background-size: cover;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .img {
    background-color: #aaa;
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 4px; 
    padding: 5px;
    width: 300;
  }
 
  /* Add a card effect for articles */
  .card {
     border-radius: 4px;
     background-color: rgb(139, 139, 139);
     padding: 20px;
     margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  
    .menu {
    overflow: hidden;
    background-color: #333;

  }
  
  .menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }
  b{
    color: #5ce4dd;
  }
  
  .menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: rgb(65, 65, 65);
    color: white;
  }
  
  .menu .icon {
    display: none;
  }
  #mooh{
    max-width: 100%;
    height: auto;

    
  }
  #dart{
    max-width: 100%;
  height: auto;
    border-radius: 10px;
    filter: blur(0.8px);
  }  
  #strom{
    max-width: 100%;
  height: auto;
    border-radius: 10px;
    filter: blur(0.8px);
  }
  #ig {
    max-width: 100%;
    height: auto;
  }
  #Wacom{
    max-width: 100%;
    height: auto;

    
  }
  .social{
      display: flex;
      flex-wrap: wrap;
  }
  @media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon 
     {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Wacom {background-color: rgb(0, 0, 0);}
#Razer {background-color: rgb(0, 0, 0);}
#Keyboard {background-color: rgb(0, 0, 0);}
#About {background-color: rgb(0, 0, 0);}

#Pickb1{
  max-width: 100%;
    height: auto;
    border-radius: 10px;
    filter: blur(0.8px);
}
#moohr{
  height: 400px ;
  width: 1108px;
}

#Switch{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

#PC{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  border: 1px solid rgb(105, 111, 116); 
  border-radius: 4px; 
}
h3{
  font: bold;
  font-size: 24px;
}

