body{

    background-color: rgb(32, 183, 221);
 

}
*{
  padding: 0;
  margin: 0;
}
.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
}
.button_start{
    position: absolute;
    left: 39%;
    top: 60%;
}
.button_start :hover {
  position: absolute;
  left: 60%;
  
}

.logo{
  position: absolute;
  left:2%;
  top: 0%;

}
#hello{
  height: 600px ;
  width: 250px;
  position: absolute;
  left: 40%;
  top: -5%;
}
#ject{
  height: 100px ;
  width: 200px;
}

@media screen and (max-width: 600px) {
    .button_start picture{
      width: 100%;
    }
    button .logo{
    width: auto;
  }
  #hello{
    height: 520px ;
    width: 180px;
    position: absolute;
    left: 35%;
    top: -5%;
  
  }
  #ject{
    height: 50px ;
    width: 120px;
  }
  .button_start{
    position: absolute;
    left: 22%;
    top: 50%;
}
.button_start :hover {
  position: absolute;
  left: 60%;
  
}
}  
  
