@font-face {
  font-family: 'Modalz Tall';
  src: url("/fonts/modalz-tall.woff") format("woff"), url("/fonts/modalz-tall.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Modalz Short';
  src: url("/fonts/modalz-short.woff") format("woff"), url("/fonts/modalz-short.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
h1, h2, h3 {
  display: block;
  font-size: var(--font-tall);
  margin: 0;
  margin-bottom: 7rem;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  font-family: Modalz Tall;
  line-height: 1.2857142861;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

h1 {
  font-size: var(--font-supertall);
  margin-bottom: 1rem;
}

h2 {
  color: var(--black);
}
h2::after {
  display: block;
  content: '';
  width: 7rem;
  height: 1rem;
  margin: 7rem 0 14rem;
  background-color: var(--white);
}

h2 span {
  padding: 2rem;
  background-color: var(--white);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

p {
  color: inherit;
  font-size: var(--font-short);
  font-family: Modalz Short;
  margin: 0 0 7rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
p:last-child {
  margin: 0;
}

p .bigtext {
  padding: 3rem 2rem;
  background-color: var(--black);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  font-family: Modalz Tall;
  font-size: var(--font-supertall);
  line-height: 1.4285714287;
  color: var(--white);
}

p.intro {
  font-size: var(--font-short);
  font-family: Modalz Tall;
}

.supertitle {
  display: block;
  margin-bottom: 3rem;
  font-family: Modalz Short;
  font-size: var(--font-short);
  line-height: 1.2;
}

.icon {
  display: block;
  width: 9rem;
  height: 7rem;
  margin-bottom: 3rem;
}

@-webkit-keyframes a-dash {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
}

@keyframes a-dash {
  0% {
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  100% {
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
}
@-webkit-keyframes a-flow {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(8rem, 8rem);
            transform: translate(8rem, 8rem);
  }
}
@keyframes a-flow {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(8rem, 8rem);
            transform: translate(8rem, 8rem);
  }
}
html {
  height: 100%;
  font-size: calc(0.15vw + 2px);
}
@media screen and (min-width: 480px) {
  html {
    font-size: calc(0.15vw + 1.5px);
  }
}

body {
  --white: #fff;
  --black: #000;
  --font-supertall: 10rem;
  --font-tall: 7rem;
  --font-short: 5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 2rem solid var(--black);
  cursor: url(/assets/cursor_default.svg) 0 0, default;
  font-family: Modalz Tall;
  font-size: var(--font-tall);
  color: var(--black);
  line-height: 1.1428571429;
  background: var(--black);
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  cursor: inherit;
}
body *:focus {
  outline: 0 none;
  box-shadow: none;
}

::-moz-selection {
  background-color: var(--white);
  color: var(--black);
  opacity: 1;
}

::selection {
  background-color: var(--white);
  color: var(--black);
  opacity: 1;
}

header {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 4rem;
  background-color: var(--black);
  font-family: Modalz Short;
  font-size: var(--font-short);
  color: var(--white);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--white);
  padding-bottom: 18rem;
}
@media screen and (min-width: 768px) {
  main {
    padding-bottom: 11rem;
  }
}

footer {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
}

footer .inner {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: var(--white);
  font-family: Modalz Short;
  font-size: var(--font-short);
}

section {
  flex: 1 0 100%;
  background-color: var(--black);
  color: var(--white);
  border: 1rem solid var(--white);
  border-bottom: 0 none;
}
section:last-child {
  border-bottom: 1rem solid var(--white);
}

.section__modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding-top: 12rem;
  border: 0 none;
  text-align: center;
  background-color: var(--white);
}

.section__rules .icon {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section__end {
  position: relative;
  text-align: center;
  background-color: var(--white);
  overflow: hidden;
}
.section__end::after {
  content: '';
  position: absolute;
  top: 0;
  left: -2rem;
  width: calc(100% + 2rem);
  height: 100%;
  background-image: url("/assets/pt_checkered.svg");
  background-size: 2rem 2rem;
}

.section__end h2:after {
  display: none;
}

.inner {
  z-index: 1;
  position: relative;
  max-width: 300rem;
  padding: 7rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .inner {
    padding: 14rem;
  }
}

.section__bad .inner {
  padding-top: 21rem;
}

.modal__wrapper {
  z-index: 9999;
  -webkit-transform: translateY(14rem);
          transform: translateY(14rem);
  -webkit-filter: drop-shadow(1rem 1rem 0 var(--black));
          filter: drop-shadow(1rem 1rem 0 var(--black));
  background-color: initial;
  color: var(--black);
}

.modal {
  position: relative;
  font-size: var(--font-tall);
  width: 120rem;
  border: 1rem solid var(--black);
  -webkit-clip-path: polygon(0 1rem, 1rem 1rem, 1rem 0, calc(100% - 1rem) 0, calc(100% - 1rem) 1rem, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 1rem calc(100% - 1rem), 0 calc(100% - 1rem));
          clip-path: polygon(0 1rem, 1rem 1rem, 1rem 0, calc(100% - 1rem) 0, calc(100% - 1rem) 1rem, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 1rem calc(100% - 1rem), 0 calc(100% - 1rem));
  background-color: var(--white);
  text-align: center;
}

.modal__bar {
  display: flex;
  height: 10rem;
  border-bottom: 1rem solid var(--black);
  background-color: var(--black);
}

.bar__streamer {
  position: relative;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
.bar__streamer::before {
  content: '';
  position: absolute;
  display: block;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  background-image: url("/assets/pt_checkered.svg");
  background-size: 2rem 2rem;
}

.fakebutton__close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 10rem;
  width: 8rem;
  color: var(--white);
  padding: 2rem;
}

.fakebutton__close img {
  display: inline-block;
  height: 5rem;
}

.modal__content {
  padding: 14rem;
}

.button__wrapper {
  display: inline-block;
  margin: 0 auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  font-family: Modalz Short;
  font-size: var(--font-tall);
  color: var(--black);
  background-color: var(--white);
}
button:hover, button:focus, button:active {
  color: var(--white);
}

.button {
  position: relative;
  display: inline-block;
  border: 2rem solid var(--black);
  -webkit-clip-path: polygon(0 2rem, 1rem 2rem, 1rem 1rem, 2rem 1rem, 2rem 0, calc(100% - 2rem) 0, calc(100% - 2rem) 1rem, calc(100% - 1rem) 1rem, calc(100% - 1rem) 2rem, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 1rem) calc(100% - 2rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 2rem) calc(100% - 1rem), calc(100% - 2rem) 100%, 2rem 100%, 2rem calc(100% - 1rem), 1rem calc(100% - 1rem), 1rem calc(100% - 2rem), 0 calc(100% - 2rem));
          clip-path: polygon(0 2rem, 1rem 2rem, 1rem 1rem, 2rem 1rem, 2rem 0, calc(100% - 2rem) 0, calc(100% - 2rem) 1rem, calc(100% - 1rem) 1rem, calc(100% - 1rem) 2rem, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 1rem) calc(100% - 2rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 2rem) calc(100% - 1rem), calc(100% - 2rem) 100%, 2rem 100%, 2rem calc(100% - 1rem), 1rem calc(100% - 1rem), 1rem calc(100% - 2rem), 0 calc(100% - 2rem));
  font-family: Modalz Short;
  font-size: var(--font-tall);
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
}
.button:active {
  -webkit-transform: translate(1rem, 1rem);
          transform: translate(1rem, 1rem);
}
.button:hover, .button:focus {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.button .button__deco {
  display: block;
  padding: 2rem 4rem;
  border: 1rem solid var(--black);
}
.button .button__deco::before {
  content: '';
  position: absolute;
  left: -1rem;
  right: -1rem;
  top: -1rem;
  bottom: -1rem;
  background-color: var(--white);
  -webkit-clip-path: polygon(0 1rem, 1rem 1rem, 1rem 0, calc(100% - 2rem) 0, calc(100% - 2rem) 1rem, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) 100%, 2rem 100%, 2rem calc(100% - 1rem), 1rem calc(100% - 1rem), 1rem calc(100% - 2rem), 0 calc(100% - 2rem));
          clip-path: polygon(0 1rem, 1rem 1rem, 1rem 0, calc(100% - 2rem) 0, calc(100% - 2rem) 1rem, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) calc(100% - 1rem), calc(100% - 1rem) 100%, 2rem 100%, 2rem calc(100% - 1rem), 1rem calc(100% - 1rem), 1rem calc(100% - 2rem), 0 calc(100% - 2rem));
  border-right: 1rem solid var(--black);
  border-bottom: 1rem solid var(--black);
}
.button .button__deco::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
}

.button:hover .button__deco::before,
.button:focus .button__deco::before {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.button:active .button__deco::before, .button:active .button__deco::after {
  background-color: var(--white);
  background-image: url("/assets/pt_checkered.svg");
  background-size: 2rem 2rem;
}

.button__content {
  display: block;
  z-index: 1;
  position: relative;
  padding: 1rem 1rem 2rem;
}
.button__content::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 1rem;
  left: 2rem;
  right: 2rem;
  bottom: 0rem;
  border-top: 1rem solid var(--black);
}
.button__content::after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -1rem;
  background-color: var(--white);
  opacity: 0;
}

.button:hover,
.button:focus {
  color: var(--white);
}

.button:hover .button__content::before,
.button:focus .button__content::before {
  border-color: var(--white);
}

.button:active .button__content {
  color: var(--black);
}
.button:active .button__content::before {
  border-color: var(--black);
}
.button:active .button__content::after {
  opacity: 1;
}

a {
  cursor: url(/assets/cursor_pointer.svg) 0 0, auto;
  padding: 1rem;
  color: inherit;
}
a:hover, a:focus, a:active {
  -webkit-filter: invert(100);
          filter: invert(100);
  background-color: var(--black);
  text-decoration: none;
}
a:visited {
  color: inherit;
}

ul {
  position: relative;
  list-style-type: none;
  background-color: var(--white);
  font-family: Modalz Short;
  line-height: 1;
  padding: 2rem;
  background-image: url("/assets/pt_checkered.svg");
  background-size: 2rem 2rem;
  border: 1rem solid var(--white);
  box-shadow: 1rem 1rem 0 0 var(--white), 2rem 2rem 0 0 var(--white);
}

ul.list--blocks {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 1rem;
  background-color: initial;
  background-image: initial;
  border: 0 none;
  box-shadow: initial;
}

ul.list--white {
  -webkit-filter: invert(100);
          filter: invert(100);
}

ul.list--ellipsis {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  position: relative;
  padding: 6rem;
  margin-bottom: 2rem;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-short);
}
ul li:last-child {
  margin-bottom: 0;
}

ul li h3 {
  font-size: var(--font-short);
  margin-bottom: 2rem;
}

ul.list--blocks li {
  flex: 1 1 33%;
  min-width: 70rem;
  margin: -1rem 0 0 -1rem;
  border: 1rem solid var(--white);
}

ul.list--blocks img {
  width: 100%;
  margin-bottom: 7rem;
}
@media screen and (min-width: 480px) {
  ul.list--blocks img {
    width: 70rem;
  }
}

ul.list--ellipsis li {
  flex: 1 0 100%;
  padding-left: 10rem;
}
ul.list--ellipsis li::before {
  content: '\2026';
  position: absolute;
  left: 6rem;
  top: 6rem;
  display: block;
}
@media screen and (min-width: 480px) {
  ul.list--ellipsis li {
    flex: 1 0 calc(50% - 1rem);
  }
  ul.list--ellipsis li:nth-child(2n) {
    flex: 1 0 calc(50% - 1rem);
    margin-left: 2rem;
  }
}

ul.list--ellipsis .listitem--highlight {
  position: relative;
  background-color: var(--black);
  font-family: Modalz Tall;
  font-size: var(--font-short);
  padding-left: 11rem;
  overflow: hidden;
}
ul.list--ellipsis .listitem--highlight::before {
  z-index: 1;
  left: 4rem;
  top: 4rem;
  padding: 2rem;
  background-color: var(--black);
}
ul.list--ellipsis .listitem--highlight::after {
  content: '';
  position: absolute;
  left: -4rem;
  top: 0;
  width: calc(100% + 5rem);
  height: 100%;
  background-image: url("/assets/pt_dashed.svg");
  background-size: 5rem 20rem;
  -webkit-animation-name: a-dash;
          animation-name: a-dash;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (prefers-reduced-motion: reduce) {
  ul.list--ellipsis .listitem--highlight::after {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

.listitem--highlight span {
  z-index: 1;
  position: relative;
  padding: 2rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  background-color: var(--black);
  line-height: 1.5714285716;
}

.listitem--yes h3,
.listitem--no h3 {
  padding-left: 12rem;
  background-image: url("/assets/icon_yes.svg");
  background-position: 0 2rem;
  background-size: auto 8rem;
  background-repeat: no-repeat;
}

.listitem--no h3 {
  background-image: url("/assets/icon_no.svg");
}

li h3 .supertitle {
  margin-bottom: 0;
}

.listitem--yes p,
.listitem--no p {
  padding-left: 12rem;
}

.background {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.background::after {
  content: '';
  position: absolute;
  left: -8rem;
  top: -8rem;
  width: calc(100% + 8rem);
  height: calc(100% + 8rem);
  background-image: url("/assets/pt_dotted.svg");
  background-size: 8rem 8rem;
  -webkit-animation-name: a-flow;
          animation-name: a-flow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (prefers-reduced-motion: reduce) {
  .background::after {
    -webkit-animation-name: none;
            animation-name: none;
  }
}
